body {
  background-color: #273A4B;
  font-family: Lato;
}

.btn-primary {
  background-color: #273A4B;
  outline: 5px solid #AA9675; 
  color: white; 
  border-radius: 10px;
  border: none; 
  padding: 5px; 
  text-align: center; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
  text-decoration: none;
  display: inline-block; 
  font-size: 2em; 
  margin: 4px 2px; 
  cursor: pointer; 
}

.btn-primary:hover {
  background-color: #8B7A60; 
  outline: 5px solid #182631;
}

.btn-primary:active {
  background-color: #8B7A60; 
  box-shadow: inset 0 0 10px black;
  outline: 5px solid #182631;
}

.form-control {
  border: 5px solid #AA9675;
  border-radius: 10px;
  background-color: #273A4B;
  color: white;
  font-size: 2em;
  padding: 5px;
  margin-bottom: 23px;
}

.form-control:focus {
  border-color: #ccc;
  outline: 0;
}

.form-label {
  color: #AA9675;
  background-color: #273a4b;
  font-family: Lato;
  font-size: 1em;
}